<!DOCTYPE html>

<html>

{% include head.html %}
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="FMPD3" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Learn More</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}


    </div>

    {% include footer.html %}

</body>

</html>
