<!DOCTYPE html>

<html>

    {% include head.html %}
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <body>

        {% include header.html %}

        <section id="banner" class="style2">
            <div class="inner">
                <span class="manImg">
                    <img src="assets/images/FMPD1.png" alt="">
                </span>
                <header class="major">

                    <h1>{{ page.title }}</h1>

                </header>
                <div class="content">

                    {{ page.description }}

                </div>
            </div>
        </section>

    {{ content }}

    {% include footer.html %}

</body>

</html>
